<nav>
  <a id="home" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page"> Home </a>
  |
  <a id="angular" routerLink="/angular" routerLinkActive="active" ariaCurrentWhenActive="page"> Angular-Animation </a>
  |
  <a id="css" routerLink="/css" routerLinkActive="active" ariaCurrentWhenActive="page"> Css-Animation</a>
  |
  <a id="lottie" routerLink="/lottie" routerLinkActive="active" ariaCurrentWhenActive="page"> lottie </a>
  |
  <a id="earth" routerLink="/earth" routerLinkActive="active" ariaCurrentWhenActive="page"> earth </a>
</nav>

<div [@routeAnimations]="getRouteAnimationData()" class="container">
  <router-outlet></router-outlet>
</div>